* {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .items-list {
        flex-grow: 1;
        margin: 0 10px;
        flex-basis: 400px;
        max-width: 400px;
    }
}
