.Footer {
    background: #0b38bf;
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 15px;
    font-size: 14px;
    box-shadow: 0 0 10px 2px #a5a5a5;

    p {
        color: white;
        a {
            color: white;
            margin-left: 5px;
        }
    }
}
