.InputField {
  margin: 20px auto;
  border-radius: 5px;
  display: flex;
  .items-form {
    display: flex;
    .input-item {
      flex-grow: 1;
      border: 1px solid #f25e7a;
      border-right: none;
      padding: 15px 20px;
      border-radius: 5px 0 0 5px;
      &:focus {
        outline: none;
      }
    }
    .add-btn {
      font-size: 15px;
      background: #f25e7a;
      color: white;
      border: none;
      border-radius: 0 5px 5px 0;
      padding: 15px 20px;
      &:hover {
        background-color: #d9556d;
      }
    }
  }
}
