.Item {
  display: flex;
  justify-content:space-between;
  background: #f2f2f2;
  margin-bottom: 2px;
  border-radius: 5px;
  height: 50px;
  cursor: default;
  &:hover {
    background: #e0e0e0;
  }

  .name {
    padding: 15px 20px;
    flex-grow: 1;
    text-align: left;
  }

  .item-btn {
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    background: none;
  }
  .edit-form {
    padding: 0;
    .edit-input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #5274d9;
      border-right: none;
      padding-left: 20px;
      border-radius: 5px 0 0 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .edit-submit-btn {
    font-size: 15px;
    background: #5274d9;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 15px 20px;
    &:hover {
      background-color: #0b38bf;
    }
  }
  .hover-btn:hover {
    background: #0b38bf;
    color: white;
  }
  .delete-btn:hover {
    background-color: #adadad;
  }
}
